@use 'math';
@use 'mixin';

.lane {
  @include mixin.card;
  background: var(--white-alt);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  padding: 0.5rem;
  height: fit-content;

  > header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    padding: 0.25rem 0.5rem;

    hgroup {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    .actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  > ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;

    > li:last-child {
      border: 1px dashed var(--black-alt);
      border-radius: 0.25rem;

      button {
        width: 100%;
        padding: 1rem;
      }
    }
  }
}