button {
  border: unset;
  background-color: unset;
  color: inherit;
  padding: unset;
  cursor: pointer;

  &:disabled {
    cursor: initial;
  }
}

button, .btn {
  font-size: 1rem;
  min-width: 24px;
  min-height: 24px;

  &:has(.icon) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}