.contextmenu {
  display: flex;
  position: relative;

  li[role="separator"] {
    height: 1px;
    background-color: var(--white-alt);
  }

  > button:not([aria-expanded="true"]) ~ .card {
    display: none;
  }

  > .card {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    max-width: 30ch;
    width: max-content;
    isolation: isolate;
    z-index: 10;

    > ul li + li {
      margin-top: 0.5rem;
    }
  }
}