.card .collapse-tags {
  ul {
    margin-bottom: 0.5rem;

    li {
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      gap: 0.25rem;
  
      + li {
        margin-top: 0.25rem;
      }
  
      label {
        display: flex;
        justify-content: center;
        align-items: center;
  
        input {
          min-width: 24px;
          min-height: 24px;
        }
      }
  
      .tag {
        width: fit-content;
      }
    }
  }
}