@use 'math';
@use 'shadow';

.board {
  display: flex;

  > header {
    background-color: var(--white-alt);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    box-shadow: shadow.box(1);

    .actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.25rem;

      button {
        font-size: 1.25em;
      }
    }
  }

  > ol {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    margin-top: 0.25rem;

    > li {
      display: flex;
      min-width: 40ch
    }
  }

  ~ .bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
