.portal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--black-alpha);
  isolation: isolate;
  z-index: 10;
}