*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
}

body {
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--white-alt);
}

img {
  display: block;
  max-width: 100%;
}
