:root {
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 16px;
}

html {
  text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}
