@use 'math';
@use 'mixin';

.lane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > header {
    @include mixin.card;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--white);
    margin: 0.5rem;

    hgroup {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    .actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  > ol {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;

    > li {
      margin: 0.25rem 0.5rem;

      &:last-child {
        background-color: var(--white-alt);
        border-radius: 0.25rem;

        button {
          @include mixin.card;
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }

  > button {
    @include mixin.card;
    background-color: var(--white-alt);
    padding: 1rem;
    margin-top: 0.5rem;
  }
}