.tasklist {
  border-top: 1px solid var(--white-alt);
  padding-top: 0.5rem;

  ol {
    margin-bottom: 0.5rem;

    li + li {
      margin-top: 0.5rem;
    }
  }

  > button {
    margin-top: 0.5rem;
  }
}