dialog.modal {
  border: unset;
  background-color: var(--white);

  &::backdrop {
    background-color: #000000aa;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
