@use 'shadow';
@use 'mixin';

.card {
  @include mixin.card;
  background-color: var(--white);
  padding: 0.5rem;

  > header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--white-alt);

    .actions {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .tags {
      grid-column: span 3;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      margin-top: 0.5rem;
    }

    .collapse {
      grid-column: span 3;
      border-top: 1px solid var(--white-alt);
      margin-top: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  > p {
    padding: 0.25rem;
    margin: 0.5rem 0;
    width: 100%;
  }
}