@use 'breakpoint';

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  padding: unset;
  margin: unset;
  border: unset;
  max-width: min(40ch, 90vw);
  min-height: 100vh;
  max-height: 100vh;

  &:not([open]) {
    display: none;
  }

  &::backdrop {
    background-color: #000000aa;
  }

  > * {
    padding: 1rem;
  }

  > header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;
  }

  > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    > * + * {
      margin-top: 0.5rem;
    }
  }
}