:root {
  box-sizing: border-box;
}

body {
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--primary);
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: unset;
  background-color: unset;
  color: inherit;
  padding: unset;
  cursor: pointer;

  &:disabled {
    cursor: initial;
  }
}
