:root {
  --black: #000;
  --black-alpha: #000000aa;
  --black-alt: #34495E;
  --white: #fff;
  --white-alt: #ECF0F1;
  --primary: #9B59B6;
  --primary-text: var(--white);
  --secondary: #D35400;
  --secondary-text: var(--white);
}
