@use 'sass:list';

:root {
  line-height: 1.4;
  font-family: sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;

  + p {
    margin-top: 0.5rem;
  }
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}